<p>Mail d'annulation d'une activité</p>

<p>Motif de l'annulation :
    <h1><%= motif_annulation %></h1>
</p>

<p>Titre : <%= titre %></p>

<p>Date et heure de début : <%= date_heure_debut %></p>

<p>Date et heure de fin : <%= date_heure_fin %></p>
